<%= form_for(@post) do |f| %>
  <div class="form-group">
    <%= f.label 'Post to Instacat!' %><br>
      <%= f.text_area :content, class: 'form-control', autofocus: true,
          placeholder: 'Why dont you post a cat picture?' %>
      <%= f.file_field :attachment, class: 'form-control' %>
  </div>
  <%= f.submit :post, class: 'btn btn-primary'%>
<% end %>
